body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../IMG/B.jpg');
    background-size:auto;
    background-position: center;
    color: #fff;
}

header {
    text-align: center;
    padding: 40px;
    background-color: #ec8bbd;
    background-image: url('../IMG/C.jpg');
    background-size:auto;
    background-position: center;


}

h1 {
    margin: 0;
    font-size: 2.5em;
    color: #743555;
}

h2{
    margin: 0;
    font-size: 1.5em;
    color: #743555;
}

section {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(255, 240, 254, 0.8);
    border-radius: 10px;
}

label {
    font-size: 1.2em;
    font-weight: bold; 
    color: #9d5d7d;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #ec8bbd;
    color: rgb(56, 25, 40);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold; 
}

button:hover {
    background-color: #d26ea2;
}

input[type="number"], input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    color: #9d5d7d;

}

li {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    color: #9d5d7d;

}

h3 {
    margin-top: 30px;
    color: #9d5d7d;
}

textarea {
    resize: none;
}


p{
    color: #9d5d7d;
}